

{% extends "classroom/base.html" %} 
{% load static %}

{% block title %} Login | Classroom {% endblock title %} 
{% block links %}
<link rel="stylesheet" href="{% static "classroom/css/login.css" %}"> 
{% endblock links %} 


{% block navbar %}

<h1 class="text-center my-5 " > Login to Classroom </h1>


{% endblock navbar %}



{% block content %} 
<div class="d-flex flex-column align-items-center" >
<form action="" method="post" >

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li style="color:red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usename</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
</form> 
<a class="btn btn-info my-3"  href="{% url "classroom:register_view" %}" >Not registered yet? Become a user</a>
</div>
{% endblock content %}